@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400&family=Oxygen:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400&family=Oxygen:wght@300;400&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@1&family=Covered+By+Your+Grace&family=Thasadith:ital@1&family=Waiting+for+the+Sunrise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

$bordColor1: #ccd6f6;
$bordColor2: #617d98;
$bordColor3: rgb(200, 199, 199);
$bordColor4: #ccc;
$bordColor5: #eaeaea;
$bordColor6: #999;
$border: #2e344e;
$blackColor1: #102a42;
$blackColor2: #222;
$orangeColor: #af996b;
$orangeColorHover: #8b7546;
$secondaryColor: #64ffdb63;
$sidebar: #191d3b;
$homeColor: #0a192f;
$fontFamily: 'Titillium Web';
$primaryColor: #64ffda;
$grayColor: #afafc3;
$lightGray: #afafc3b4;
